<odoo>
    <menuitem id="menu_employee_rating_root"
              name="Kra Rating"
              sequence="0"/>

    <menuitem id="menu_employee_master"
              name="Employee"
              parent="menu_employee_rating_root"
              sequence="1"/>

    <menuitem id="menu_configuration"
              name="Configurations"
              parent="menu_employee_rating_root"
              sequence="4"/>
</odoo>